/* html5 compat */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}

/* begin reset */

::selection {
  background-color: #0088CC;
  color: #FFFFFF;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #2386B4;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

body {
  /* reset to enable px like sizing with rem */
  font-size: 62.5%;
  line-height: 1.5;
}

/* end reset */

body {
  background-color: #060606;
  color: #FFFFFF;
}

main {
  background-color: #222222;
  padding-bottom: 20px;
}

main a {
  color: #FFFFFF;
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}

article img {
  background-color: #060606;
  padding: 10px;
  margin-right: 15px;
  float: left;
}

.hero {
  background-color: #111111;
  padding: 10px;
  padding: 1rem;
  margin: 10px;
  margin: 1rem;
}

.portfolio-item {
  display: inline-block;
}

.accessibility-bar {
  background-color: #222222;
  border-bottom: 4px solid #0088CC;
}

.accessibility-bar a {
  color: #FFFFFF;
  padding: 0 5px 0 0;
  padding: 0 0.5rem 0 0;
  font-size: 10px;
  font-size: 1rem;
}

.main-header {
  padding-top: 15px;
  border-bottom: 4px solid #2386B4;
}

.main-footer {
  border-top: 4px solid #2386B4;
  padding: 5px 0;
}

.main-footer a {
  font-size: 10px;
  font-size: 1rem;
}

.main-header h1 {
  margin: 0;
}

.main-header h1, .main-header img, .main-header nav {
  display: inline-block;
}

/* begin nav */

.main-nav {
  margin-bottom: 5px;
}

.main-nav-item {
  display: inline-block;
  /*padding: 5px 10px;*/
  /*border: 1px solid ;*/
  /*margin-left: 10px;*/
}

.main-nav-link {
  color: #FFFFFF;
  border: 1px solid #2386B4;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

.main-nav-link:hover {
  background-color: #2386B4;
  text-decoration: none;
}

.main-nav-item.current-page .main-nav-link {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
}

/* end nav */

/* begin typography */
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  h1 {
    font-size: 26px;
    font-size: 2.6rem;
  }

  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 22px;
    font-size: 2.2rem;
  }

  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  h5 {
    font-size: 18px;
    font-size: 1.8rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  h2, h3, h4, h5, h6 {
    margin: 6px 0;
    margin: 0.6rem 0;
  }

  p {
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: 0;
  }

  li {
    font-size: 14px;
    font-size: 1.4rem;
  }
/* end typography */

/* begin reponsive */

@media screen and (max-width: 650px) {
  article img {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .main-header-top {
    text-align: center;
  }

  .main-nav {
    width: 100%;
  }
  
  .main-nav-item {
    display: block;
  }

  .main-nav-link {
    margin: 10px 0;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .portfolio-item img {
    width: 195px;
    height: auto;
  }
}

@media screen and (max-width: 240px) {
  .portfolio-item img {
    width: 195px;
    height: auto;
  }
  main .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    margin: 0;
  }
  h2, h3 {
    text-align: center;
  }
  .accessibility-bar a {
    display: block;
  }
}

/* end responsive */